{% extends "base.html" %}
    {% block title %}
  <title>Document</title>
  {% endblock %}

    {% block content%}
    <form method="get">
        <input type="text" name="q" placeholder="Search by title or director">
        <select name="status">
            <option value="">All Status</option>
            <option value="Published">Published</option>
            <option value="Not Published">Not Published</option>
        </select>
        <select name="genres" multiple>
            {% for genre in genres %}
            <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <button type="submit"class="btn btn-outline-dark">Search</button>
    </form>
    <table class="table table-success table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>MovieTitle</th>
            <th>Director</th>
            <th>ReviewContent</th>
            <th>Rsating</th>
            <th>Created_At</th>
            <th>Reviewer_EmailId</th>
            <th>Satus</th>
            <th>genres</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for mv in reviews %}
            <tr>
                <td>{{mv.id}}</td>
                <td>{{mv.movieTitle}}</td>
                <td>{{mv.director}}</td>
                <td>{{mv.reviewContent}}</td>
                <td>{{mv.rating}}</td>
                <td>{{mv.created_At}}</td>
                <td>{{mv.rewiever_emil_Id}}</td>
                <td>{{mv.status}}</td>
                <td>{% for g in mv.genres.all %}
                    {{g.name}},&nbsp&nbsp&nbsp
                    {% endfor %}
                </td>
                <td>
                    <a href = "{% url 'update' mv.pk %}" class="btn btn-outline-warning">Update</a>
                    <a href = "{% url 'delete' mv.pk %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}